header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  header nav ul li {
    margin: 20px 10px;
  }
  .logo a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 600;
  }
  header nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541);
    padding: 20px 10px;
    transition: color 0.5s ease-in-out;
  }
  header nav ul li a:hover {
    color: black;
  }
  header button {
    padding: 8px 30px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
  }
  header button:hover {
    opacity: 1;
  }
  .log-in {
    background: transparent;
  }
  .sign-up {
    color: white;
    background-color: black;
  }
  /*------------------------------------------------------Header Design Ends--------------------------------------------------------------*/



  /*------------------------------------------------------App Design Starts--------------------------------------------------------------*/
.app{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
  /*------------------------------------------------------App Design Ends--------------------------------------------------------------*/

  /*------------------------------------------------------IndexMain Design starts--------------------------------------------------------------*/
  .main-wrapper {
    padding: 0px 80px;
    margin-bottom: 2rem;
  }
  .main-wrapper .play{
    position: absolute;
    bottom: 1px;
    right: 245px;
  }
  .main-wrapper .play span{
    padding: 2rem;
    border-radius: 50%;
    display: block;
    height: 14px;
    background: linear-gradient(180deg,white,rgb(225, 247, 247));
  }
  .text-textbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  .text-textbox .text {
    font-size: 4rem;
    width: 480px;
    display: block;
    font-weight: 800;
  }
  .text-textbox .textbox {
    background-color: white;
    width: 480px;
    border-radius: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .text-textbox .textbox h3 {
    font-size: 2.2rem;
  }
  .text-textbox .textbox .text-content p {
    width: 300px;
    margin-top: 7px;
    font-size: 0.8rem;
  }
  .text-textbox .textbox .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    position: absolute;
    right: 0;
    top: 0;
    outline: 9px solid rgb(225, 247, 247);;
  }
  .text-textbox .textbox .arrow::before{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    background-color: white;
    top: 1px;
    right: 49px;
    border-top-right-radius: 69%;
    box-shadow: 11px -9px #e1f7f7;
  }
  .text-textbox .textbox .arrow::after{
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    background-color: white;
    top: 48px;
    right: 0px;
    border-top-right-radius: 69%;
    box-shadow: 8px -9px #e1f7f7;
  }
  .hrl {
    height: 3px;
    border: none;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .text-textbox2-container {
    margin-top: 2rem;
    display: flex;
    width: fit-content;
    background-color: white;
    border-radius: 2rem;
    position: relative;
  }
  .bck-img {
    width: 200px;
    height: 300px;
    background-position: center center;
    background-size: cover;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: url("./assets/cyber-brain-7633487_1280.jpg");
  }
  .text-textbox2-container .text2 {
    font-size: 2.5rem;
    width: 350px;
  }
  .text-textbox2-container .text-textbox2 {
    display: flex;
    flex-direction: column;
    padding: 8px 19px;
  }
  .text-textbox2-container .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    position: absolute;
    left: 5rem;
    bottom: 1rem;
  }
  .text-textbox2-container .more-text {
    background-color: lime;
    position: absolute;
    padding: 2.3rem 1rem;
    border-radius: 50%;
    font-weight: 800;
    bottom: 0.5rem;
    left: 20rem;
    cursor: pointer;
  }
  .section2 {
    display: flex;
    position: relative;
  }
  hr.vertical{
    position: absolute;
    top: 13rem;
    width: 100%;
    z-index: -1;
  }
  hr.horizontal{
    margin-left: 2rem;
  }
  .text-textbox3-container {
    background-color: black;
    color: white;
    height: 10rem;
    margin: 2rem 0rem 0rem 2rem;
    border-radius: 3rem;
    padding: 2rem 2rem;
    position: relative;
  }
  .text-textbox3-container p {
    font-size: 2rem;
    width: 10rem;
  }
  .text-textbox3-container .arrow {
    color: aliceblue;
    background-color: black;
    position: absolute;
    right: 2rem;
    font-size: 2rem;
  }
  .arrow {
    cursor: pointer;
  }
  /*------------------------------------------------------IndexMain Design ends--------------------------------------------------------------*/

  /*------------------------------------------------------Footer Design Starts--------------------------------------------------------------*/
  footer {
    margin-top: auto;

    padding: 3rem 5rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    justify-content: space-around;
  }
  footer .socials-containers {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  footer .socials-containers span {
    cursor: pointer;
  }
  footer .footer-nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
  }
  footer .footer-nav ul a {
    text-decoration: none;
    color: white;
  }
  footer .copyright {
    text-align: center;
  }
    /*------------------------------------------------------Footer Design Ends--------------------------------------------------------------*/
